# python
## todays objectives

- output and input
- variables in python
- type conversions in python
- operators in python
- conditional statements

In [1]:
print('hello world')

hello world

In [3]:
print("date is 29th of may ")

date is 29th of may

In [4]:
print("date",29)

date 29

In [7]:
print("date",29,sep = "-")
print(1,2,3,4,5,6,7,8,9,sep = '\t')
print(1,2,sep="")
print(1,2,3,sep = "abc")

date-29
1	2	3	4	5	6	7	8	9
12
1abc2abc3

# variables
- can have numbers and integers
- can have _
- no other characters

In [2]:
a = 9
A= 55
# 1a=9
_ = 78

### data types in python
- primary data types -> int, float, complex, string, boolean
- secondary data types(also called as data structures) -> containers -> list,tuples,dictionary,set

a + ib //complex values

In [3]:
a= 55  #integer
b= 55.66 #floast
c = 5 + 6j #complex
e = 'a+g4'#string
f=['python',65,5+6j,55.665] #list
g = ('puthon',65,5+6j,55.65) #tuples
h={"name :","python"} #dictionary("key" , "value")
i={1,2,3,4} #set

In [4]:
print(type(a))

<class 'int'>

In [5]:
print(type(b))

<class 'float'>

In [9]:
print(type(c))
print(type(f))
print(type(g))
print(type(h),type(i))

<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'set'> <class 'set'>

In [14]:
a = input()
print(type(a))  
#only after completion of execution of 
#this cell the next one gets executed

5
<class 'str'>

In [15]:
b=input()
print(type(b))

[1,2]
<class 'str'>

# type conversions

In [18]:
a=int(input()) #Valueerror if another type is given as input
print(type(a))

5
<class 'int'>

### Number system 
- decimal -> 10 -> 0-9
- binary -> 2 -> 0,1 prefix(0b)
- octal -> 8 -> 0-7  prefix(0o)
- hexadecimal -> 16 -> 0-F  prefix(0x)

In [24]:
a=55
print(bin(a),oct(a),hex(a),sep=" & ")
print('\n')
print(int('110111',2),int('67',8),int('37',16))

0b110111 & 0o67 & 0x37


55 55 55

In [28]:
print(ord('a'))
print(chr(97))

97
a

### Operators in python
- arithmetic operators  -> +,-,*,/,%,//,**
- logical operators   -> and, or , not
- comparision/relational operators -> <,>,<=,>=,==,!=
- bitwise operators   -> &(and),|(or),~(not), ^(xor), >>(right shift) , <<
- assignment operators -> += , -=, /= , %= , //=,**=
- identity operators -> is, not is
- membership operators -> in, not in

In [30]:
a=2
b=3
print(a+b,a-b,a*b,a/b,a//b,a%b,a**b,sep="  $$  ")

5  $$  -1  $$  6  $$  0.6666666666666666  $$  0  $$  2  $$  8

In [39]:
a=1
b=0
c='b'
print(a and c, c and a,a and b, b and a, b and c, c and b)
print(a or c, c or a,a or b, b or a, b or c, c or b)
print(a or b, not a, not c, not b)

b 1 0 0 0 0
1 b 1 1 b b
1 False False True

In [40]:
a=9
b=0
print(a<b,a>b,a==b)

False True False

## bitwise operators
```
$ | ^ ~ 
 a=4 and b=10
 4 -> 0100
 10 -> 1010
      _______
      0000 -> 0 -> and
      1110 -> 14 -> or
 
 ~a
 4 -> 0100

     0001 
     ______
      -0101
      (adds 1 to the actual data and changes the num to -ve if          +ve and vice versa)
```

In [41]:
a=5
b=9
print(a & b, a | b, ~a)

1 13 -6

## XOR operation

In [42]:
a=9
b=0
print(a^b)

9

### left shift and right shift
* a=4-> 0100
* a<<2 -> 010000 -> 16
* a >> 2 -> 0001 -> 1

In [43]:
a=8
print(a<<2,a>>2)

32 2

## assignment operators

In [44]:
a=5
a=a+5
print(a)
a += 10
print(a)
a -= 5
print(a)
a **=2
print(a)

10
20
15
225

### membership operators

In [49]:
a = 'Python'
b= 'pyth'
print(b not in a)
print(b in a)
print(a in b)

True
False
False

###  identity operators

In [51]:
a=5
b=5.5
c=5
d=[1,2,3]
e={1,2,3}
print( a== c, d == e)

True False

In [63]:
# to know the location of data
print(id(a))
print(id(d))
f=d
g=a
 #assigns different for secondary data types
print(id(f)) # assigns same location for primitive data types

140729022325264
1424885972616
1424885972616

In [59]:
d.append('Python')

[1, 2, 3, 'Python', 'Python', 'Python']
[1, 2, 3, 'Python', 'Python', 'Python']

In [65]:
print(d)
print(f)

[1, 2, 3, 'Python', 'Python', 'Python']
[1, 2, 3, 'Python', 'Python', 'Python']

In [64]:
print(d,f,g)
print(d is f,g is e)

[1, 2, 3, 'Python', 'Python', 'Python'] [1, 2, 3, 'Python', 'Python', 'Python'] 5
True False

### conditional stats
- if
- if-else
- -f-elis -else
### loops
- for
- while
### strings
- declaring str
- accessing the elements
- string methods

## if
```python
if condition:
    block of code

if condition:
    block
else:
    block
    
if condition:
    block
elif condition:
    block
else:
    block
```

- biggest of 2 nums

In [5]:
a = 9
b = 8
c=12
if a>b and a>c:
    print("a is bigger")
elif b>c:
    print("b is bigger")
else:
    print("c is bigger")

c is bigger

- check the input is even or not

In [6]:
n= int(input("emter a num"))
if n%2 == 0:
    print("even")
else:
    print("odd")

emter a num5
odd

## leap year

In [7]:
year=int(input("enter year"))
if(year%400==0) or (year%4==0 and year % 100 !=0):
    print("is leap")
else:
    print("not leap")

enter year2000
is leap

## calculator application
- 2 inputs
- arithmetic operation

In [8]:
a= int(input("enter a num"))
b= int(input("enter 2nd num"))
arth=input("enter operation + - * /")
if arth =='+':
    print(a+b)
elif arth=='-':
    print(a-b)
elif arth=='*':
    print(a*b)
elif arth=='/':
    print(a/b)
else:
    print("invalid")

enter a num5
enter 2nd num6
enter operation + - * /+
11

### loops

``` python
for var in group:
    block
    
while cond:
    block
    increment or decrement
```

### gropu of numbers
```
- range
range(init,cond,inc/dec)
range(start,stop,step i.e., change)

cond -> req arg
init ->0
inc/dec -> +-1
```

In [17]:
for i in range(1,25,1):
    print(i,end = '\t')

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24

In [18]:
for i in range(25):
    print(i,end = '\t')

0	1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24

In [19]:
for i in range(1,25,2):
    print(i,end = '\t')

1	3	5	7	9	11	13	15	17	19	21	23

In [25]:
for i in range(1,100,1):
    if(i%2==0):
        print(i,end = '\t')

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98

- get leap year between range given by user

In [35]:
a=int(input("enter 1st year"))
b=int(input("enter last year"))
for year in range(a,b,1):
    if(year%400==0) or (year%4==0 and year % 100 !=0):
        print(year)

enter 1st year2000
enter last year2020
2000
2004
2008
2012
2016

### while

In [34]:
i=1
while i<51:
    print(i,end='\t')
    i += 1

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50

#### break: to terminate the execution of the loop
#### continue: to skip that and continue

### properties of string
- immutable data type
- it is iterable

In [37]:
s="hi"
st= ' hello'
str='''hi
hello
vanakkam
world'''

In [38]:
str="hi helloo vanakkam"
for char in str:
    print(char,end='\t')

h	i	 	h	e	l	l	o	o	 	v	a	n	a	k	k	a	m

### accessing the characters from the string
- indexing
    - +ve 
    - -ve
- slicing
    - +ve slicing
    - -ve slicing

In [40]:
s="hi hello vanakkam how are you dng all goog?"
print(s[0]) # indexing
print(s[4])
print(s[-1])
print(s[-4])

h
e
?
o