# Day Agenda
- reading the different format of data sets
- statistical information about data sets
- concatination of data frames
- grouping of data frames
- merging the data frames
- filtering data from data frames
-

## Reading the different format of data sets
- csv(comma seerated values)
- json
- xlsx
- tsb(tab seperated values)

In [2]:
import pandas as pd
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_lib',
 '_libs',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [5]:
df=pd.read_json("https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Data-Science-Using-Python-Internship-EB1/main/Notebooks/Day23-Pandas%20continue/cafes.json")
df

,alias,categories,coordinates_latitude,coordinates_longitude,display_phone,distance,id,image_url,is_closed,location_address1,...,location_display_address,location_state,location_zip_code,name,phone,price,rating,review_count,transactions,url
0,coffee-project-ny-new-york,"[{'alias': 'coffee', 'title': 'Coffee & Tea'}]",40.726990,-73.989220,(212) 228-7888,2435.843426,pimuUR-TEHIjUla3S3jemQ,https://s3-media2.fl.yelpcdn.com/bphoto/2Wtg4i...,False,239 E 5th St,...,"[239 E 5th St, New York, NY 10003]",NY,10003,Coffee Project NY,+12122287888,$$,4.5,615,[],https://www.yelp.com/biz/coffee-project-ny-new...
1,lella-alimentari-brooklyn,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",40.715160,-73.946451,(718) 599-2625,4171.840660,UpPXAjKc-CyuCg72chwd3A,https://s3-media1.fl.yelpcdn.com/bphoto/nPa0-Y...,False,325 Manhattan Ave,...,"[325 Manhattan Ave, Brooklyn, NY 11211]",NY,11211,Lella Alimentari,+17185992625,$,5.0,152,[],https://www.yelp.com/biz/lella-alimentari-broo...
2,saltwater-coffee-new-york,"[{'alias': 'coffee', 'title': 'Coffee & Tea'}]",40.730458,-73.983918,(917) 881-2245,2915.532077,SZXOfQbLyF3C5GwYBj6VvA,https://s3-media1.fl.yelpcdn.com/bphoto/cdBBTy...,False,345 E 12th St,...,"[345 E 12th St, New York, NY 10003]",NY,10003,Saltwater Coffee,+19178812245,$$,5.0,158,[],https://www.yelp.com/biz/saltwater-coffee-new-...
3,urban-backyard-new-york,"[{'alias': 'coffee', 'title': 'Coffee & Tea'}]",40.720770,-73.996460,(646) 692-9957,1716.018342,HUlbrPvAr6sXuBfp5z1MWA,https://s3-media3.fl.yelpcdn.com/bphoto/Xh8__m...,False,180 Mulberry St,...,"[180 Mulberry St, New York, NY 10012]",NY,10012,Urban Backyard,+16466929957,$$,5.0,54,[],https://www.yelp.com/biz/urban-backyard-new-yo...
4,bird-and-branch-new-york,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",40.760310,-73.990870,(917) 265-8444,6107.008532,IkyRp47Jpbk_AQ35qlr-eg,https://s3-media3.fl.yelpcdn.com/bphoto/icX4I6...,False,359 West 45th St,...,"[359 West 45th St, New York, NY 10036]",NY,10036,Bird & Branch,+19172658444,$$,5.0,131,[],https://www.yelp.com/biz/bird-and-branch-new-y...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,lēna-coffee-bar-new-york,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",40.732439,-73.996744,(212) 979-2315,3008.705468,IJmnnNx5RlvcckyTt3yjLQ,https://s3-media3.fl.yelpcdn.com/bphoto/PmISwE...,False,1 W 8th St,...,"[1 W 8th St, Ste B, New York, NY 10011]",NY,10011,LĒNA Coffee Bar,+12129792315,$,4.5,95,"[delivery, pickup]",https://www.yelp.com/biz/l%C4%93na-coffee-bar-...
96,optimistic-cafe-new-york,"[{'alias': 'coffee', 'title': 'Coffee & Tea'}]",40.755030,-73.990690,(646) 998-3970,5521.995741,S1A-3f6i2Y5R6BBBnKDfwQ,https://s3-media2.fl.yelpcdn.com/bphoto/18RFEu...,False,260 W 39th St,...,"[260 W 39th St, New York, NY 10018]",NY,10018,Optimistic Cafe,+16469983970,$,4.5,33,[],https://www.yelp.com/biz/optimistic-cafe-new-y...
97,black-brick-brooklyn,"[{'alias': 'coffee', 'title': 'Coffee & Tea'}]",40.714208,-73.961785,(718) 384-0075,2908.170797,tq7dDT6edTInhkNdDrYv_w,https://s3-media1.fl.yelpcdn.com/bphoto/KMA7ED...,False,300 Bedford Ave,...,"[300 Bedford Ave, Brooklyn, NY 11211]",NY,11211,Black Brick,+17183840075,$,4.0,289,[],https://www.yelp.com/biz/black-brick-brooklyn?...
98,usagi-ny-dumbo-7,"[{'alias': 'bookstores', 'title': 'Bookstores'...",40.703830,-73.986910,(718) 801-8037,635.781863,vijwGDNrPBJHEG7_DsjZNw,https://s3-media2.fl.yelpcdn.com/bphoto/5gCxDD...,False,163 Plymouth St,...,"[163 Plymouth St, Dumbo, NY 11201]",NY,11201,Usagi NY,+17188018037,$$,4.5,56,[],https://www.yelp.com/biz/usagi-ny-dumbo-7?adju...
99,spreadhouse-cafe-new-york-3,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",40.718910,-73.985850,(646) 524-6353,1657.232800,wTA00Dov2lFYXKnZ58eXAQ,https://s3-media2.fl.yelpcdn.com/bphoto/YsBfwR...,False,116 Suffolk St,...,"[116 Suffolk St, New York, NY 10002]",NY,10002,Spreadhouse Cafe,+16465246353,$,4.0,375,[],https://www.yelp.com/biz/spreadhouse-cafe-new-...

In [6]:
pd.read_json("dbms.json") # name of local file

ValueError: Expected object or value

# convert json to csv data set
df.to_csv("https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Data-Science-Using-Python-Internship-EB1/main/Notebooks/Day23-Pandas%20continue/cafes.json")

import pandas as pd
d3=pd.concat((d1,d2),ignore_index=True)
d3## d1 and d2 are data frames

d3=pd.concat((d1,d2),keys=['k1','k2'])
d3

## Grouping of dataframes
- df.groupby

- g1=d1.groupby(by='clg') *splitting a specific object
- gi.max()

In [10]:
df1=pd.DataFrame({"city":['x','y','z'],
                 'temp':[11,12,23],
                 'hum':[44,55,67]})
df1

  city  temp  hum
0    x    11   44
1    y    12   55
2    z    23   67

In [12]:
m1=pd.DataFrame({"city":['x','y','z'],
                 'hum':[44,55,67]})
m1

  city  hum
0    x   44
1    y   55
2    z   67

In [13]:
m2=pd.DataFrame({"city":['x','y','z'],
                 'temp':[11,12,23]})
m2

  city  temp
0    x    11
1    y    12
2    z    23

In [14]:
m3=pd.merge(m1,m2)
m3

  city  hum  temp
0    x   44    11
1    y   55    12
2    z   67    23

In [15]:
m3=pd.merge(m1,m2,on='city',how='left',indicator=True)
m3

  city  hum  temp _merge
0    x   44    11   both
1    y   55    12   both
2    z   67    23   both