## Day agenda
- pandas introduction
- creating series data
- creating data frames
- accessing data from series/dataframe
- reading data from environment
- explore data
- convert data from json to csv etc..

## pandas intro
- developed in 2008 by mckiney
- used for analyzing,cleaning,exploring,and manipulating data
## pandas can do
- finding tho correlation
- handling with missing values
- avg,max,min
- plotting

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\tejeswari\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\tejeswari\anaconda3\lib\site-packages (from pandas) (1.18.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\tejeswari\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\tejeswari\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\tejeswari\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas

In [3]:
pandas.__version__

'1.0.1'

In [4]:
import pandas as pd

## Series
- list
- tuple
- numpy array

In [6]:
s1=pd.Series([1,2,3,"apssdc"])
print(s1)
print(type(s1))

0         1
1         2
2         3
3    apssdc
dtype: object
<class 'pandas.core.series.Series'>

In [7]:
s1=pd.Series([1,2,3,"apssdc"],index=['x1','x2','x3','x4'])
print(s1)
print(type(s1))

x1         1
x2         2
x3         3
x4    apssdc
dtype: object
<class 'pandas.core.series.Series'>

In [9]:
## series object with tuple format
s2=pd.Series((1,2,3,4))
print(s2)
s2.index=[11,12,3,4]
s2

0    1
1    2
2    3
3    4
dtype: int64

11    1
12    2
3     3
4     4
dtype: int64

In [10]:
s2.index

Int64Index([11, 12, 3, 4], dtype='int64')

In [11]:
s2

11    1
12    2
3     3
4     4
dtype: int64

In [16]:
s1['x2']

2

In [17]:
s2.min()

1

In [19]:
s2.cumsum()

11     1
12     3
3      6
4     10
dtype: int64

## pandas date _ range
- to work with date and time formats we can use date_range
- pandas.date_range()

In [23]:
import pandas as pd
d1=pd.date_range
print(d1)

<function date_range at 0x0000023111F70D38>

In [24]:
import pandas as pd
d1=pd.date_range('01-01-2021',periods=10)
print(d1)

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10'],
              dtype='datetime64[ns]', freq='D')

In [29]:
import pandas as pd
d1=pd.date_range('01-01-2021',periods=10,freq='24h')
print(d1)

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10'],
              dtype='datetime64[ns]', freq='24H')

In [30]:
import pandas as pd
d1=pd.date_range('01-01-2021',periods=10,freq='1H')
print(d1)

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00',
               '2021-01-01 08:00:00', '2021-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [31]:
import pandas as pd
d1=pd.date_range(start='01-01-2021',end='01-02-2021',freq='24h')
print(d1)

DatetimeIndex(['2021-01-01', '2021-01-02'], dtype='datetime64[ns]', freq='24H')

In [33]:
date=pd.Series(pd.date_range(start='01-01-2021',end='01-02-2021',freq='24h'))
print(date)
print(type(date))

0   2021-01-01
1   2021-01-02
dtype: datetime64[ns]
<class 'pandas.core.series.Series'>

## Data Frame
- pandas.DataFrame
- 2d data type
- list
- tuple
- dict
- numpy array
    - string, float, complex-string/object

In [38]:
import pandas as p1
import numpy as np
df=p1.DataFrame([[1,2,3],[4,5,'apssdc']])
df2=p1.DataFrame((1,2),(1,3))
df3=p1.DataFrame({"k1":[11,"anu"],"k2":[23,34]})
df4=p1.DataFrame(np.array([[1,2,3],[8,7,6]]))
print(df)
print(df2)
print(df3)
print(df4)

   0  1       2
0  1  2       3
1  4  5  apssdc
   0
1  1
3  2
    k1  k2
0   11  23
1  anu  34
   0  1  2
0  1  2  3
1  8  7  6

In [39]:
df2=p1.DataFrame(((1,2),(1,3)),index=['x','y'])
df2

   0  1
x  1  2
y  1  3

In [43]:
## df2.columns=['hi','ko']
df2.index=['r','k']
df2

   hi  ko
r   1   2
k   1   3

In [44]:
df2.columns

Index(['hi', 'ko'], dtype='object')

In [46]:
df2.index

Index(['r', 'k'], dtype='object')

In [53]:
import numpy as np
d1={"rollno":['19BTH'+str(i) for i in range(1,11)],
             'm1':np.random.randint(1,100,10),
             'm2':np.random.randint(1,100,10),
             'm3':np.random.randint(1,100,10)}
df=pd.DataFrame(d1)
df

    rollno  m1  m2  m3
0   19BTH1  21   4   2
1   19BTH2  59  79  39
2   19BTH3   8  44  70
3   19BTH4  24  79  72
4   19BTH5  11  66  49
5   19BTH6   3  84  56
6   19BTH7  34   1  84
7   19BTH8  23  33  82
8   19BTH9  34  24  91
9  19BTH10  64  91  11